.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:5px;
    background-color: rgb(6, 50, 112);
    height:400px;
}

.item {
    background-color: black;
    color:mintcream;
    text-align:center;
    font-size:large;
}

.home {
    background-color:orange;
}

table, td, th {
    border: 2px solid black;
}

.future {
    background-color: rgb(6, 50, 112);

}
.intrests {
     background-color: darkgreen;
}

.navbar {
    background-color: black;
    overflow:hidden;
    
}
.navbar a{
    font-size:20px;
    text-align: center;
    font-weight:bold;
    padding:15px;
    display:block;
}

.navbar a:hover{
    background-color:rgb(175, 175, 175)
}

.i1 {
    background-color:chartreuse;
    color:forestgreen;
}

.i2 {
    background-color: blueviolet;
}

.i3 {
    background-color:coral;
}

.i4 {
    background-color: cyan;
    color:midnightblue;
}

.i5 {
    background-color: yellow;
     color:blueviolet;
}

.i6 {
    background-color: navy;
}

.on7 {
    height:50 px ;
    width: 50 px ;
}