.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:5px;
    background-color: rgb(6, 50, 112);
}

.item {
    background-color: black;
    color:mintcream;
    text-align:center;
}