.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:5px;
    background-color: rgb(6, 50, 112);
    height:400px;
}

.item {
    background-color: black;
    color:mintcream;
    text-align:center;
    font-size:large;
}

.home {
    background-color:orange;
}

table, td, th {
    border: 2px solid black;
}

.future {
    background-color: rgb(6, 50, 112);

}
.intrests {
     background-color: darkgreen;
}

.navbar {
    background-color: black;
    overflow:hidden;
    
}
.navbar a{
    font-size:20px;
    text-align: center;
    font-weight:bold;
    padding:15px;
    display:block;
}

.navbar a:hover{
    background-color:rgb(175, 175, 175)
}

.i1 {
    background-color:chartreuse;
    color:forestgreen;
}

.i2 {
    background-color: blueviolet;
}

.i3 {
    background-color:coral;
}

.i4 {
    background-color: cyan;
    color:midnightblue;
}

.i5 {
    background-color: yellow;
     color:blueviolet;
}

.i6 {
    background-color: navy;
}

.on7 {
    height:50 px ;
    width: 50 px ;
}

.wrapper
{
 position:relative;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-gap:20px;
width:auto;
height:auto;
background: black;
transition: 0.25s;
}

.wrapper .box
{
position:relative;
background:var(--img);
background-position:center;
background-size: cover;
transition:0.25s;
display:flex;
justify-content: center;
align-items: center;
filter:grayscale(0) brightness(1.25);
}

.wrapper:hover .box
{
    filter: grayscale(0) brightness{1.25};
}

.wrapper .box:hover
{
    filter: grayscale(0) brightness(1.25);
}

.wrapper:has(.one:hover)
{
 grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr 0.5fr;
background-image: linear-gradient(    );
}

.wrapper:has(.two:hover)
{
 grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr 0.5fr;
background-image: linear-gradient(    );
}

.wrapper:has(.three:hover)
{
 grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr 0.5fr;
background-image: linear-gradient(    );
}

.wrapper:has(.four:hover)
{
 grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr 0.5fr;
background-image: linear-gradient(    );
}

.wrapper:has(.five:hover)
{
 grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr 0.5fr;
background-image: linear-gradient(    );
}